body {
	font-family: Arial, sans-serif;
	background: #4f4f4;
	margin: 0;
	padding: 20px;
}

.container {
	max-width: 700px;
	margin: auto;
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
	align-items: center;
	color: #2c3e50;
	
}

img {
	border-radius: 50%;
	margin-top: 10px;
}